<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPantallaRegistroServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.servlets.MostrarPantallaRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarMuroServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.servlets.MostrarMuroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>pe.edu.ulima.ulconnect.servlets.RegistrarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPantallaRegistroServlet</servlet-name>
        <url-pattern>/MostrarPantallaRegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarMuroServlet</servlet-name>
        <url-pattern>/MostrarMuroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
